* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
}

header {
  background: #2b1055;
  color: white;
  padding: 1rem .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
}

nav a:hover {
  text-decoration-line: underline;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1556761175-4b46a572b786?auto=format&fit=crop&w=1200&q=60")
    no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 6rem 1rem;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  background: #ff4b2b;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background: #0051ff;
}

section {
  padding: 4rem 2rem;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: #2b1055;
  margin-bottom: 2rem;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 0px 10px rgb(0, 0, 0);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px 40px;
  border-radius: 12px;
  text-align: center;
  font-family: Arial;
  animation: pop 0.3s ease;
}

.modal-content h2 {
  margin-top: 0;
  color: green;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  background: green;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

@keyframes pop {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


footer {
  background: #2b1055;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;          /* inputs ke beech space */
  margin-top: 20px;
  flex-wrap: wrap;   /* mobile me neeche aa jaye */
}

.register-form input {
  padding: 10px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-form button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #ff5733;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #e64a2e;
}




